* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100%;
}

.app {
  height: 100vh;

  display: flex;
  flex-direction: column;
}
main {
  display: flex;

  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: space-between;

  background-color: rgb(0, 0, 0);

  text-align: center;
  
}
.error {
  display: none;

}
.sidebar {
  background-color: red;
  width: 30%;
  margin-right: 5px;
}
.principal {
  background-color: rgb(255, 111, 111);

  flex-grow: 1;
}
h1,
.PosCentral {
  text-align: center;
  /*centralizazr posição*/
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}
footer {
  height: 40px;
  background-color: rgb(255, 255, 255);

  border: 5px solid  black;
}
@media (orientation: portrait) {
  .sidebar {
    display: none;
  }
}
@media (max-width: 130px) {
  .player,
  .sidebar,
  .principal {
    display: none;
  }
  .error {
    display: flex;
  }
}